<app-layout>
    <ng-container ngProjectAs="container-body">
        <section class="container__banner" >
            <div class="banner"></div>
            <div class="content__information">
                <h2 class="title__banner">Soluciones personalizadas para tus necesidades únicas</h2>
                <p class="description__banner">Descubre nuestro servicio de desarrollo a medida.</p>
                <div class="ml-10 mr-5">
                    <button class="btn mr-5 pt-24 pb-24 pr-40 pl-40 btn__banner" nz-button nzType="primary">Contactar</button>
                </div>
            </div>
        </section>

        <!-- SERVICIOS -->
        <section class="mt-88 mb-88 section">
            <h2 class="title__section">Servicios</h2>
            <p class="description__section mb-76">Nuestro equipo de expertos está aquí para ayudarte a alcanzar tus objetivos, ofreciéndote servicios adaptados a tus necesidades específicas. </p>

            <img class="img__bg" src="../../assets/img/vector.svg">

            <div class="grid_cards">
                @for (item of services; track $index) {
                    <app-card [title]="item.title" [description]="item.description" [img]="item.img"></app-card>
                }
            </div>
        </section>

        <!-- RESEÑAS -->
        <section class="mb-88 section bg-secondary">
            <h2 class="title__section mt-64">Reseñas</h2>
            <div class="grid__reviews mt-48 mb-96">
                @for (item of reviews; track $index) {
                    <app-card-reviews [fullName]="item.fullname" [role]="item.role" [img]="item.img" [review]="item.review"></app-card-reviews>
                }
            </div>   
        </section>

        <!-- CONTACTANOS -->
        <section class="mb-88 section">
            <h2 class="title__section">Contáctanos</h2>
            <p class="description__section mb-76">¡Nos encantaría escuchar de ti! Ya sea que tengas una pregunta sobre nuestros servicios, una idea emocionante que quieras discutir o simplemente desees más información, estamos aquí para ayudarte.</p>

            <div class="content__form">
                <form nz-form [formGroup]="form" (ngSubmit)="submitForm()" nzLayout="vertical" class="content__form-form">
                    <nz-form-item>
                        <input nz-input formControlName="name" placeholder="Nombre" />
                    </nz-form-item>
                    <nz-form-item>
                          <input nz-input formControlName="email" placeholder="Correo Electronico" />
                      </nz-form-item>
                      <nz-form-item>
                          <input nz-input formControlName="phone" placeholder="Teléfono" />
                      </nz-form-item>
                      <nz-form-item>
                          <textarea rows="4" nz-input placeholder="Comentario" formControlName="comment"></textarea>
                      </nz-form-item>
                    <nz-form-item>
                      <nz-form-control [nzOffset]="10" [nzSpan]="10">
                        <button nz-button nzType="primary" class="btn btn__form" [disabled]="form.invalid">CONTACTAR</button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
            </div>
        </section>

    </ng-container>
</app-layout>